<h3>This is where users will sign up</h3>

<%= form_for @user do |f| %>
<div class="form-group">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>
<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<%= f.submit "Register", class: 'btn btn-success' %>
<% end %>