<h3>Create a new lead</h3>

<div class='well'>
  <%= form_for @lead do |f| %>
  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="control-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>
  <div class="control-group">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
  <div class="control-group">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="control-group">
    <%= f.label :company_type %>
    <%= f.text_field :company_type %>
  </div>
  <div class="control-group">
  <%= f.submit "Create Lead", class: 'btn btn-primary' %>
  <% end %>
</div>